.WeatherForecast{
    text-align: center;
    
}
.Weather-temp-min{
    opacity: 0.4;
    margin-left: 5px;
    color: white;
}
.WeatherForecast-day{
    color: white;
}
.Weather-temp-max{
     color: white;
}
.forecastContainer{
    display: flex;

}
.WeatherForecast{
     background-color: #910f7b31;
    border-radius: 10%;
    margin-right: 10px;
    margin-left: 10px;
      flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  /* margin-bottom: 30px; */
  padding-top: 30px;
  padding-bottom: 30px;

}
