.App{
   /* background-image: url(.//img/dark.jpeg);
 background-repeat: no-repeat;
  background-size: cover;  */
  background: linear-gradient(#e6450015,#2c007410);
  padding-bottom: 8%;
  overflow: hidden;
}
.Weather{
    margin-top: 50px;
border: 2px solid #910f7b;
  background-image: url(.//img/mountain.jpeg);
  background-repeat: no-repeat;
  background-size: cover; 
  max-width: 500px;
  min-height: 800px;
  margin: auto;
  border-radius: 10px;
}
.Weatherlayer{
    background-color: rgba(249, 249, 249, 0.097);
     min-height: 800px;
}
.form-control{
    background-color: rgba(255, 250, 240, 0);
    border-style: none none solid none;
    margin: 5px 5px 5px 51px;
    max-width: 80%;
    border-radius: 0%;
    
}
ul{
     list-style-type: none;
}
 .btn-primary{
    background-color: rgba(240, 248, 255, 0);
    border-color: aliceblue;
    border-style: none none solid none;
    border-radius: 0%;
    margin-right:100% ;
    margin-top: 5px;
 }
.cityName{
    /* margin-top: 40px; */
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin-left: 20%;
    /* max-width: 50%; */
 }
 .clearfix{
    margin: auto;
    background-color: #910f7b31;
    border-radius: 100%;
    max-width: 50%;
    /* margin-top: ; */
    
    /* padding-left: ; */
 }
 .temperature{
    font-weight: 100;
    font-size: 90px;
    margin-left: 50px;
    color: white;
    /* margin-top: 10000px; */
 }
 .tempinfo{
    color: white;
    font-weight: 100;
 }
 .hours{
    color: floralwhite;
    font-size: 30px;
    font-weight: 100;
    /* margin-right: 20%; */
 }
 .time{
    color: floralwhite;
   /* margin-left: 0%; */
   font-size: small;
    
 }